In [179]:
import pandas as pd 
import numpy as np

url = 'https://github.com/esnt/Data/raw/main/MessyData/employeedata.csv'
df = pd.read_csv(url)

print(df['mailing_address'])

0            08906 Adam Avenue\nPort Victoria, MN 71782
1              0926 Baird Roads, West Natalie, WV 81710
2              9716 Samuel Ports\nSouth Angel, NC 85005
3       53805 Mandy Curve\nSouth Courtneyport, IL 77108
4        14815 Kevin Plains\nNorth Andremouth, WV 60941
5     58259 Brandon Street Suite 057\nEast Kellyburg...
6            988 Debbie Viaduct\nBrittneybury, NJ 79538
7               09249 Vincent Wall\nEast Erin, NE 99317
8            7270 Hernandez Plain\nBowersview, GA 04552
9     304 Stephanie Trafficway Suite 451\nSouth Karl...
10    4000 Wendy Bridge Suite 220\nSouth Tammie, SC ...
11            86552 Andre Island\nJeffreyfort, CT 30674
12            7580 Fields Fort\nMitchellburgh, KS 68457
13        688 Hubbard Gardens\nWashingtonberg, CO 35383
14    889 Angela Radial Suite 285\nPort Joseph, ME 6...
15      763 Brennan Lodge Apt. 451, Kevinberg, FL 91818
16            307 Matthew Plaza\nNorth Trevor, DE 40093
17               278 Harris Shoal\nSouth John, LA 54411
18         834 Rachel Station\nJessicaborough, NE 35501
19                 1595 Julie Court\nDunntown, AR 65311
Name: mailing_address, dtype: object

In [180]:
df[['first_name', 'last_name']] = df['name'].loc[df['name'].str.split().str.len() == 2].str.split(expand = True)
df['area_code'] = df['phone_number'].str.extract(r'(\d{3})')

In [181]:
df['birthyear'] = '19' + df['birthdate'].str[-2:]

In [182]:
# Assuming you have a DataFrame named df with a 'height' column
df['ht_in'] = (
    df['height']
    .str.split("'")
    .apply(lambda x: int(x[0]) * 12 + int(x[1].strip('"')))
)

In [183]:
df['domain'] = df['email_address'].str.extract(r'@(.+)$')
df.head()

,name,phone_number,email_address,birthdate,startdate,mailing_address,job,height,first_name,last_name,area_code,birthyear,ht_in,domain
0,Ryan Wilkins,851-082-4165,vasquezdawn@hotmail.com,2/19/59,11/11/07,"08906 Adam Avenue\nPort Victoria, MN 71782","Teacher, special educational needs","6'2""",Ryan,Wilkins,851,1959,74,hotmail.com
1,Sierra Turner,380-360-2156,carloswoods@noble.biz,10/5/51,1/12/02,"0926 Baird Roads, West Natalie, WV 81710",Professor Emeritus,"6'1""",Sierra,Turner,380,1951,73,noble.biz
2,Lydia Wood,(460)079-6057x24612,ryan36@baker-brown.com,8/8/43,2/27/10,"9716 Samuel Ports\nSouth Angel, NC 85005",Sports coach,"5'4""",Lydia,Wood,460,1943,64,baker-brown.com
3,Sherri Smith,171-311-9706x8273,patriciajohnson@vega.com,4/9/71,12/2/21,"53805 Mandy Curve\nSouth Courtneyport, IL 77108",Glass blower/designer,"5'9""",Sherri,Smith,171,1971,69,vega.com
4,Jeremy Owens,508-429-8841,marissasmith_@hotmail.com,8/12/56,4/17/02,"14815 Kevin Plains\nNorth Andremouth, WV 60941","Production assistant, television","5'0""",Jeremy,Owens,508,1956,60,hotmail.com

In [184]:
df['birthdate'] = pd.to_datetime(df['birthdate'], format='%m/%d/%y', errors='coerce')

def apply_pivot_year(date, pivot_year=50):
    date = pd.to_datetime(date, format='%m/%d/%y')
    year = date.year
    if year < 2000:
        date = date + pd.DateOffset(years=100) if year % 100 >= pivot_year else date
    return date

df['birthdate'] = df['birthdate'].apply(apply_pivot_year)
df['startdate'] = df['startdate'].apply(apply_pivot_year)

df['age'] = (df['startdate'] - df['birthdate']).dt.days
df['age'] = (df['age'] / 365).astype(int)

df.head()

,name,phone_number,email_address,birthdate,startdate,mailing_address,job,height,first_name,last_name,area_code,birthyear,ht_in,domain,age
0,Ryan Wilkins,851-082-4165,vasquezdawn@hotmail.com,2059-02-19,2007-11-11,"08906 Adam Avenue\nPort Victoria, MN 71782","Teacher, special educational needs","6'2""",Ryan,Wilkins,851,1959,74,hotmail.com,-51
1,Sierra Turner,380-360-2156,carloswoods@noble.biz,2051-10-05,2002-01-12,"0926 Baird Roads, West Natalie, WV 81710",Professor Emeritus,"6'1""",Sierra,Turner,380,1951,73,noble.biz,-49
2,Lydia Wood,(460)079-6057x24612,ryan36@baker-brown.com,2043-08-08,2010-02-27,"9716 Samuel Ports\nSouth Angel, NC 85005",Sports coach,"5'4""",Lydia,Wood,460,1943,64,baker-brown.com,-33
3,Sherri Smith,171-311-9706x8273,patriciajohnson@vega.com,2071-04-09,2021-12-02,"53805 Mandy Curve\nSouth Courtneyport, IL 77108",Glass blower/designer,"5'9""",Sherri,Smith,171,1971,69,vega.com,-49
4,Jeremy Owens,508-429-8841,marissasmith_@hotmail.com,2056-08-12,2002-04-17,"14815 Kevin Plains\nNorth Andremouth, WV 60941","Production assistant, television","5'0""",Jeremy,Owens,508,1956,60,hotmail.com,-54

In [185]:
address_lines = df['mailing_address'].str.split('\n')
city_state = address_lines.str[0].str.split(', ')
df['city'] = city_state.str[-2]
df['state'] = city_state.str[-1]

df['zipcode'] = address_lines.str[1].str.extract(r'(\d+)$')

df.head()

,name,phone_number,email_address,birthdate,startdate,mailing_address,job,height,first_name,last_name,area_code,birthyear,ht_in,domain,age,city,state,zipcode
0,Ryan Wilkins,851-082-4165,vasquezdawn@hotmail.com,2059-02-19,2007-11-11,"08906 Adam Avenue\nPort Victoria, MN 71782","Teacher, special educational needs","6'2""",Ryan,Wilkins,851,1959,74,hotmail.com,-51,NaN,08906 Adam Avenue,71782
1,Sierra Turner,380-360-2156,carloswoods@noble.biz,2051-10-05,2002-01-12,"0926 Baird Roads, West Natalie, WV 81710",Professor Emeritus,"6'1""",Sierra,Turner,380,1951,73,noble.biz,-49,West Natalie,WV 81710,NaN
2,Lydia Wood,(460)079-6057x24612,ryan36@baker-brown.com,2043-08-08,2010-02-27,"9716 Samuel Ports\nSouth Angel, NC 85005",Sports coach,"5'4""",Lydia,Wood,460,1943,64,baker-brown.com,-33,NaN,9716 Samuel Ports,85005
3,Sherri Smith,171-311-9706x8273,patriciajohnson@vega.com,2071-04-09,2021-12-02,"53805 Mandy Curve\nSouth Courtneyport, IL 77108",Glass blower/designer,"5'9""",Sherri,Smith,171,1971,69,vega.com,-49,NaN,53805 Mandy Curve,77108
4,Jeremy Owens,508-429-8841,marissasmith_@hotmail.com,2056-08-12,2002-04-17,"14815 Kevin Plains\nNorth Andremouth, WV 60941","Production assistant, television","5'0""",Jeremy,Owens,508,1956,60,hotmail.com,-54,NaN,14815 Kevin Plains,60941

In [186]:
df = df.drop(columns = ['name', 'phone_number', 'email_address', 'birthdate', 'startdate', 'mailing_address', 'job', 'height'])
df

,first_name,last_name,area_code,birthyear,ht_in,domain,age,city,state,zipcode
0,Ryan,Wilkins,851,1959,74,hotmail.com,-51,NaN,08906 Adam Avenue,71782
1,Sierra,Turner,380,1951,73,noble.biz,-49,West Natalie,WV 81710,NaN
2,Lydia,Wood,460,1943,64,baker-brown.com,-33,NaN,9716 Samuel Ports,85005
3,Sherri,Smith,171,1971,69,vega.com,-49,NaN,53805 Mandy Curve,77108
4,Jeremy,Owens,508,1956,60,hotmail.com,-54,NaN,14815 Kevin Plains,60941
5,Angel,Graves,531,1970,73,gmail.com,-58,NaN,58259 Brandon Street Suite 057,91583
6,Michael,Johnson,082,1949,74,hotmail.com,49,NaN,988 Debbie Viaduct,79538
7,Rebecca,Morrison,315,1978,70,yahoo.com,-69,NaN,09249 Vincent Wall,99317
8,Jeffrey,Riley,520,1944,67,robinson.net,-36,NaN,7270 Hernandez Plain,04552
9,Tiffany,Vincent,606,1972,63,gmail.com,-70,NaN,304 Stephanie Trafficway Suite 451,61088
10,Alison,Herring,227,1974,64,yahoo.com,-66,NaN,4000 Wendy Bridge Suite 220,98652
11,Kimberly,Peters,393,1943,69,yahoo.com,-23,NaN,86552 Andre Island,30674
12,Thomas,Jones,705,1966,66,hotmail.com,32,NaN,7580 Fields Fort,68457
13,Emily,Gilbert,517,1959,69,strong.com,-49,NaN,688 Hubbard Gardens,35383
14,Michael,Baker,068,1982,73,ortiz.biz,-70,NaN,889 Angela Radial Suite 285,67527
15,Jacob,Tucker,766,1969,69,clark.com,-54,Kevinberg,FL 91818,NaN
16,Nicole,Hardin,426,1968,67,gmail.com,26,NaN,307 Matthew Plaza,40093
17,Kevin,Hutchinson,823,1977,61,yahoo.com,-59,NaN,278 Harris Shoal,54411
18,Ashley,Brown,926,1949,65,yahoo.com,50,NaN,834 Rachel Station,35501
19,Julie,Alvarez,416,1959,59,yahoo.com,-51,NaN,1595 Julie Court,65311

In [187]:
df.to_csv('employee_cleaned.csv', index = False)

In [188]:
url = 'https://github.com/esnt/Data/raw/main/MessyData/messy_weather.csv'
weather = pd.read_csv(url)

print(weather)

     YEAR  MONTH METRIC    d1   d10   d11   d12   d13   d14   d15  ...  \
0    2006      1   PRCP   0.3   0.0   0.1   0.0   0.0   0.0   0.2  ...
1    2006      1   TMAX  32.0  44.0  45.0  27.0  47.0  43.0  34.0  ...
2    2006      1   TMIN  21.0  20.0  24.0  14.0  16.0  29.0   9.0  ...
3    2006      2   PRCP   0.2   0.1   0.0   0.0   0.0   0.0   0.2  ...
4    2006      2   TMAX  33.0  27.0  31.0  43.0  37.0  36.0  32.0  ...
..    ...    ...    ...   ...   ...   ...   ...   ...   ...   ...  ...
637  2023      9   TMAX  66.0  66.0  67.0  64.0  59.0  62.0  64.0  ...
638  2023      9   TMIN  49.0  46.0  45.0  44.0  42.0  42.0  43.0  ...
639  2023     10   PRCP   0.4   0.0   0.3   0.1   0.1   0.0   0.0  ...
640  2023     10   TMAX  52.0  62.0  50.0  37.0  44.0  54.0  61.0  ...
641  2023     10   TMIN  36.0  43.0  29.0  29.0  31.0  31.0  39.0  ...

        d29    d3     d30     d31    d4    d5    d6    d7    d8    d9
0       0.0   2.1     0.2     0.3   0.0   0.0   0.0   0.0   0.1   0.2
1      27.0  34.0    42.0    34.0  30.0  47.0  57.0  48.0  30.0  33.0
2      20.0  21.0    24.0    20.0  17.0  17.0  33.0  30.0  11.0   8.0
3    9999.0   0.0  9999.0  9999.0   0.1   0.0   0.1   0.0   0.1   0.0
4    9999.0  31.0  9999.0  9999.0  44.0  26.0  35.0  45.0  51.0  45.0
..      ...   ...     ...     ...   ...   ...   ...   ...   ...   ...
637    65.0  65.0    60.0  9999.0  52.0  63.0  65.0  68.0  69.0  72.0
638    44.0  44.0    42.0  9999.0  39.0  38.0  46.0  44.0  47.0  47.0
639  9999.0   0.1  9999.0  9999.0   0.0   0.0   0.0   0.0   0.0   0.0
640  9999.0  43.0  9999.0  9999.0  52.0  57.0  60.0  63.0  65.0  66.0
641  9999.0  34.0  9999.0  9999.0  35.0  35.0  40.0  40.0  41.0  41.0

[642 rows x 34 columns]

In [189]:
weather['date'] = pd.to_datetime(weather['YEAR'].astype(str) + '-' + weather['MONTH'].astype(str), format='%Y-%m')
weather = weather.set_index(['date', 'METRIC'])
print(weather)

                   YEAR  MONTH    d1   d10   d11   d12   d13   d14   d15  \
date       METRIC
2006-01-01 PRCP    2006      1   0.3   0.0   0.1   0.0   0.0   0.0   0.2
           TMAX    2006      1  32.0  44.0  45.0  27.0  47.0  43.0  34.0
           TMIN    2006      1  21.0  20.0  24.0  14.0  16.0  29.0   9.0
2006-02-01 PRCP    2006      2   0.2   0.1   0.0   0.0   0.0   0.0   0.2
           TMAX    2006      2  33.0  27.0  31.0  43.0  37.0  36.0  32.0
...                 ...    ...   ...   ...   ...   ...   ...   ...   ...
2023-09-01 TMAX    2023      9  66.0  66.0  67.0  64.0  59.0  62.0  64.0
           TMIN    2023      9  49.0  46.0  45.0  44.0  42.0  42.0  43.0
2023-10-01 PRCP    2023     10   0.4   0.0   0.3   0.1   0.1   0.0   0.0
           TMAX    2023     10  52.0  62.0  50.0  37.0  44.0  54.0  61.0
           TMIN    2023     10  36.0  43.0  29.0  29.0  31.0  31.0  39.0

                    d16  ...     d29    d3     d30     d31    d4    d5    d6  \
date       METRIC        ...
2006-01-01 PRCP     0.2  ...     0.0   2.1     0.2     0.3   0.0   0.0   0.0
           TMAX    25.0  ...    27.0  34.0    42.0    34.0  30.0  47.0  57.0
           TMIN     4.0  ...    20.0  21.0    24.0    20.0  17.0  17.0  33.0
2006-02-01 PRCP     0.0  ...  9999.0   0.0  9999.0  9999.0   0.1   0.0   0.1
           TMAX    20.0  ...  9999.0  31.0  9999.0  9999.0  44.0  26.0  35.0
...                 ...  ...     ...   ...     ...     ...   ...   ...   ...
2023-09-01 TMAX    66.0  ...    65.0  65.0    60.0  9999.0  52.0  63.0  65.0
           TMIN    42.0  ...    44.0  44.0    42.0  9999.0  39.0  38.0  46.0
2023-10-01 PRCP     0.0  ...  9999.0   0.1  9999.0  9999.0   0.0   0.0   0.0
           TMAX    65.0  ...  9999.0  43.0  9999.0  9999.0  52.0  57.0  60.0
           TMIN    43.0  ...  9999.0  34.0  9999.0  9999.0  35.0  35.0  40.0

                     d7    d8    d9
date       METRIC
2006-01-01 PRCP     0.0   0.1   0.2
           TMAX    48.0  30.0  33.0
           TMIN    30.0  11.0   8.0
2006-02-01 PRCP     0.0   0.1   0.0
           TMAX    45.0  51.0  45.0
...                 ...   ...   ...
2023-09-01 TMAX    68.0  69.0  72.0
           TMIN    44.0  47.0  47.0
2023-10-01 PRCP     0.0   0.0   0.0
           TMAX    63.0  65.0  66.0
           TMIN    40.0  41.0  41.0

[642 rows x 33 columns]

In [190]:
weather = weather.replace(9999, np.nan)

In [191]:
weather = weather[weather.index.get_level_values('METRIC').isin(['TMAX', 'TMIN', 'PRCP'])]
weather

                   YEAR  MONTH    d1   d10   d11   d12   d13   d14   d15  \
date       METRIC
2006-01-01 PRCP    2006      1   0.3   0.0   0.1   0.0   0.0   0.0   0.2
           TMAX    2006      1  32.0  44.0  45.0  27.0  47.0  43.0  34.0
           TMIN    2006      1  21.0  20.0  24.0  14.0  16.0  29.0   9.0
2006-02-01 PRCP    2006      2   0.2   0.1   0.0   0.0   0.0   0.0   0.2
           TMAX    2006      2  33.0  27.0  31.0  43.0  37.0  36.0  32.0
...                 ...    ...   ...   ...   ...   ...   ...   ...   ...
2023-09-01 TMAX    2023      9  66.0  66.0  67.0  64.0  59.0  62.0  64.0
           TMIN    2023      9  49.0  46.0  45.0  44.0  42.0  42.0  43.0
2023-10-01 PRCP    2023     10   0.4   0.0   0.3   0.1   0.1   0.0   0.0
           TMAX    2023     10  52.0  62.0  50.0  37.0  44.0  54.0  61.0
           TMIN    2023     10  36.0  43.0  29.0  29.0  31.0  31.0  39.0

                    d16  ...   d29    d3   d30   d31    d4    d5    d6    d7  \
date       METRIC        ...
2006-01-01 PRCP     0.2  ...   0.0   2.1   0.2   0.3   0.0   0.0   0.0   0.0
           TMAX    25.0  ...  27.0  34.0  42.0  34.0  30.0  47.0  57.0  48.0
           TMIN     4.0  ...  20.0  21.0  24.0  20.0  17.0  17.0  33.0  30.0
2006-02-01 PRCP     0.0  ...   NaN   0.0   NaN   NaN   0.1   0.0   0.1   0.0
           TMAX    20.0  ...   NaN  31.0   NaN   NaN  44.0  26.0  35.0  45.0
...                 ...  ...   ...   ...   ...   ...   ...   ...   ...   ...
2023-09-01 TMAX    66.0  ...  65.0  65.0  60.0   NaN  52.0  63.0  65.0  68.0
           TMIN    42.0  ...  44.0  44.0  42.0   NaN  39.0  38.0  46.0  44.0
2023-10-01 PRCP     0.0  ...   NaN   0.1   NaN   NaN   0.0   0.0   0.0   0.0
           TMAX    65.0  ...   NaN  43.0   NaN   NaN  52.0  57.0  60.0  63.0
           TMIN    43.0  ...   NaN  34.0   NaN   NaN  35.0  35.0  40.0  40.0

                     d8    d9
date       METRIC
2006-01-01 PRCP     0.1   0.2
           TMAX    30.0  33.0
           TMIN    11.0   8.0
2006-02-01 PRCP     0.1   0.0
           TMAX    51.0  45.0
...                 ...   ...
2023-09-01 TMAX    69.0  72.0
           TMIN    47.0  47.0
2023-10-01 PRCP     0.0   0.0
           TMAX    65.0  66.0
           TMIN    41.0  41.0

[642 rows x 33 columns]

In [192]:
weather = weather.unstack(level = 'METRIC')

In [193]:
weather = weather.reset_index()
print(weather)

             date  YEAR             MONTH             d1              ...  \
METRIC             PRCP  TMAX  TMIN  PRCP TMAX TMIN PRCP  TMAX  TMIN  ...
0      2006-01-01  2006  2006  2006     1    1    1  0.3  32.0  21.0  ...
1      2006-02-01  2006  2006  2006     2    2    2  0.2  33.0  22.0  ...
2      2006-03-01  2006  2006  2006     3    3    3  0.2  38.0  20.0  ...
3      2006-04-01  2006  2006  2006     4    4    4  0.6  39.0  20.0  ...
4      2006-05-01  2006  2006  2006     5    5    5  0.0  56.0  35.0  ...
..            ...   ...   ...   ...   ...  ...  ...  ...   ...   ...  ...
209    2023-06-01  2023  2023  2023     6    6    6  0.1  61.0  43.0  ...
210    2023-07-01  2023  2023  2023     7    7    7  0.0  73.0  49.0  ...
211    2023-08-01  2023  2023  2023     8    8    8  0.2  71.0  51.0  ...
212    2023-09-01  2023  2023  2023     9    9    9  0.4  66.0  49.0  ...
213    2023-10-01  2023  2023  2023    10   10   10  0.4  52.0  36.0  ...

          d6   d7               d8               d9
METRIC  TMIN PRCP  TMAX  TMIN PRCP  TMAX  TMIN PRCP  TMAX  TMIN
0       33.0  0.0  48.0  30.0  0.1  30.0  11.0  0.2  33.0   8.0
1        7.0  0.0  45.0  23.0  0.1  51.0  25.0  0.0  45.0  19.0
2       30.0  0.3  32.0  22.0  0.1  39.0  16.0  0.2  31.0  11.0
3       25.0  0.3  49.0  24.0  0.1  52.0  31.0  0.0  55.0  37.0
4       33.0  0.0  56.0  35.0  0.0  49.0  37.0  0.0  47.0  31.0
..       ...  ...   ...   ...  ...   ...   ...  ...   ...   ...
209     45.0  0.1  63.0  44.0  0.0  62.0  42.0  0.0  61.0  42.0
210     53.0  0.0  74.0  52.0  0.0  74.0  49.0  0.0  77.0  51.0
211     50.0  0.0  70.0  50.0  0.1  64.0  47.0  0.0  69.0  44.0
212     46.0  0.0  68.0  44.0  0.0  69.0  47.0  0.0  72.0  47.0
213     40.0  0.0  63.0  40.0  0.0  65.0  41.0  0.0  66.0  41.0

[214 rows x 100 columns]

In [194]:
weather.to_csv('clean_weather.csv')

In [196]:
weather

             date  YEAR             MONTH             d1              ...  \
METRIC             PRCP  TMAX  TMIN  PRCP TMAX TMIN PRCP  TMAX  TMIN  ...
0      2006-01-01  2006  2006  2006     1    1    1  0.3  32.0  21.0  ...
1      2006-02-01  2006  2006  2006     2    2    2  0.2  33.0  22.0  ...
2      2006-03-01  2006  2006  2006     3    3    3  0.2  38.0  20.0  ...
3      2006-04-01  2006  2006  2006     4    4    4  0.6  39.0  20.0  ...
4      2006-05-01  2006  2006  2006     5    5    5  0.0  56.0  35.0  ...
..            ...   ...   ...   ...   ...  ...  ...  ...   ...   ...  ...
209    2023-06-01  2023  2023  2023     6    6    6  0.1  61.0  43.0  ...
210    2023-07-01  2023  2023  2023     7    7    7  0.0  73.0  49.0  ...
211    2023-08-01  2023  2023  2023     8    8    8  0.2  71.0  51.0  ...
212    2023-09-01  2023  2023  2023     9    9    9  0.4  66.0  49.0  ...
213    2023-10-01  2023  2023  2023    10   10   10  0.4  52.0  36.0  ...

          d6   d7               d8               d9
METRIC  TMIN PRCP  TMAX  TMIN PRCP  TMAX  TMIN PRCP  TMAX  TMIN
0       33.0  0.0  48.0  30.0  0.1  30.0  11.0  0.2  33.0   8.0
1        7.0  0.0  45.0  23.0  0.1  51.0  25.0  0.0  45.0  19.0
2       30.0  0.3  32.0  22.0  0.1  39.0  16.0  0.2  31.0  11.0
3       25.0  0.3  49.0  24.0  0.1  52.0  31.0  0.0  55.0  37.0
4       33.0  0.0  56.0  35.0  0.0  49.0  37.0  0.0  47.0  31.0
..       ...  ...   ...   ...  ...   ...   ...  ...   ...   ...
209     45.0  0.1  63.0  44.0  0.0  62.0  42.0  0.0  61.0  42.0
210     53.0  0.0  74.0  52.0  0.0  74.0  49.0  0.0  77.0  51.0
211     50.0  0.0  70.0  50.0  0.1  64.0  47.0  0.0  69.0  44.0
212     46.0  0.0  68.0  44.0  0.0  69.0  47.0  0.0  72.0  47.0
213     40.0  0.0  63.0  40.0  0.0  65.0  41.0  0.0  66.0  41.0

[214 rows x 100 columns]

In [202]:
num_rows = weather.shape[0]
num_rows

214

In [ ]:
overall_mean_tmax = weather['TMAX'].mean()
overall_mean_tmax

In [ ]:
mean_tmin_august_1 = weather[weather['month'] == 8][weather['day'] == 1]['TMIN'].mean()
mean_tmin_august_1

In [ ]:
max_prcp_date = weather.loc[weather['PRCP'].idxmax()]['date']
max_prcp_date

In [ ]:
max_prcp_value = weather['PRCP'].max()
max_prcp_value

In [ ]:
weather['Temp_Diff'] = weather['TMAX'] - weather['TMIN']
month_with_largest_temp_diff = weather.groupby('month')['Temp_Diff'].mean().idxmax()
month_with_largest_temp_diff

In [204]:
url = 'https://github.com/esnt/Data/raw/main/MessyData/TB2022.csv'
TB = pd.read_csv(url)

print(TB)

          country  year g_whoregion  newrel_m014  newrel_m1519  newrel_m2024  \
0     Afghanistan  2013         EMR       1705.0           NaN           NaN
1     Afghanistan  2014         EMR       2171.0           NaN           NaN
2     Afghanistan  2015         EMR       2537.0           NaN           NaN
3     Afghanistan  2016         EMR       3248.0           NaN           NaN
4     Afghanistan  2017         EMR       4806.0           NaN           NaN
...           ...   ...         ...          ...           ...           ...
1715     Zimbabwe  2016         AFR        794.0           NaN           NaN
1716     Zimbabwe  2017         AFR        719.0           NaN           NaN
1717     Zimbabwe  2018         AFR        768.0           NaN           NaN
1718     Zimbabwe  2019         AFR        648.0         397.0         839.0
1719     Zimbabwe  2020         AFR        468.0         302.0         672.0

      newrel_m2534  newrel_m3544  newrel_m4554  newrel_m5564  newrel_m65  \
0              NaN           NaN           NaN           NaN         NaN
1              NaN           NaN           NaN           NaN         NaN
2              NaN           NaN           NaN           NaN         NaN
3              NaN           NaN           NaN           NaN         NaN
4           3127.0        2276.0        2113.0        2152.0      2207.0
...            ...           ...           ...           ...         ...
1715        4349.0        4795.0        2238.0        1121.0      1068.0
1716        4164.0        4876.0        2243.0        1142.0      1118.0
1717        3856.0        4477.0        2200.0        1189.0      1331.0
1718        3289.0        4147.0        2098.0         953.0       959.0
1719        2516.0        3092.0        1599.0         717.0       724.0

      newrel_f014  newrel_f1519  newrel_f2024  newrel_f2534  newrel_f3544  \
0          1749.0           NaN           NaN           NaN           NaN
1          2283.0           NaN           NaN           NaN           NaN
2          2414.0           NaN           NaN           NaN           NaN
3          3117.0           NaN           NaN           NaN           NaN
4          4926.0           NaN           NaN        4552.0        3501.0
...           ...           ...           ...           ...           ...
1715        736.0           NaN           NaN        3202.0        2793.0
1716        680.0           NaN           NaN        2727.0        2676.0
1717        749.0           NaN           NaN        2526.0        2497.0
1718        523.0         409.0         690.0        1779.0        2029.0
1719        444.0         303.0         552.0        1360.0        1396.0

      newrel_f4554  newrel_f5564  newrel_f65
0              NaN           NaN         NaN
1              NaN           NaN         NaN
2              NaN           NaN         NaN
3              NaN           NaN         NaN
4           3061.0        2696.0      1752.0
...            ...           ...         ...
1715        1257.0         694.0       649.0
1716        1236.0         734.0       717.0
1717        1222.0         656.0       797.0
1718        1004.0         592.0       652.0
1719         733.0         448.0       402.0

[1720 rows x 19 columns]

In [210]:
def extract_age_number(column_name):
    return column_name.split('_')[-1]

age_numbers = TB.columns[2:].map(extract_age_number)
age_numbers

Index(['whoregion', 'm014', 'm1519', 'm2024', 'm2534', 'm3544', 'm4554',
       'm5564', 'm65', 'f014', 'f1519', 'f2024', 'f2534', 'f3544', 'f4554',
       'f5564', 'f65'],
      dtype='object')

In [211]:
def split_letter_number(column_name):
    letter = column_name[0]  # Get the first character (letter)
    number = column_name[1:]  # Get the rest of the characters (number)
    return letter, number

TB['letter'], TB['number'] = zip(*TB.columns[2:].map(split_letter_number))
TB

ValueError: Length of values (17) does not match length of index (1720)

In [ ]:
TB = TB.rename(columns={'country': 'country', 'year': 'year', 'sex': 'sex'})

In [ ]:
TB = TB.sort_values(by=['country', 'year', 'sex', 'age'])

In [ ]:
TB['cases_ffill'] = TB.groupby(['country', 'sex', 'age'])['cases_ffill'].ffill()
TB['cases_bwfill'] = TB.groupby(['country', 'sex', 'age'])['cases_bwfill'].bfill()

In [212]:
TB.to_csv("TB2022_clean.csv", index=False)

In [ ]:
mean_cases_ffill_5564 = TB[(TB['sex'] == 'f') & (TB['age'] == '55-64')]['cases_ffill'].mean()
mean_cases_ffill_5564

In [ ]:
mean_cases_bwfill_5564 = TB[(TB['sex'] == 'f') & (TB['age'] == '55-64')]['cases_bwfill'].mean()
mean_cases_bwfill_5564

In [ ]:
TB['diff_ffill_bwfill'] = TB['cases_ffill'] - TB['cases_bwfill']

In [ ]:
max_diff_combination = TB.loc[TB['diff_ffill_bwfill'].idxmax(), ['sex', 'age']]
max_diff_combination

In [ ]:
min_diff_combination = TB.loc[TB['diff_ffill_bwfill'].idxmin(), ['sex', 'age']]
min_diff_combination

In [217]:
import pandas as pd
import re
url = 'https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population'
tables = pd.read_html(url)
df = tables[4]
df

,2022 rank,City,State[c],2022 estimate,2020 census,Change,2020 land area,2020 land area.1,2020 population density,2020 population density.1,Location
0,1,New York[d],New York,8335897,8804190,5.32%,300.5sqmi,778.3km2,"29,298/sqmi","11,312/km2",".mw-parser-output .geo-default,.mw-parser-outp..."
1,2,Los Angeles,California,3822238,3898747,1.96%,469.5sqmi,"1,216.0km2","8,304/sqmi","3,206/km2",3401N 11825W / 34.02N 118.41W
2,3,Chicago,Illinois,2665039,2746388,2.96%,227.7sqmi,589.7km2,"12,061/sqmi","4,657/km2",4150N 8741W / 41.84N 87.68W
3,4,Houston,Texas,2302878,2304580,0.07%,640.4sqmi,"1,658.6km2","3,599/sqmi","1,390/km2",2947N 9523W / 29.79N 95.39W
4,5,Phoenix,Arizona,1644409,1608139,+2.26%,518.0sqmi,"1,341.6km2","3,105/sqmi","1,199/km2",3334N 11205W / 33.57N 112.09W
...,...,...,...,...,...,...,...,...,...,...,...
328,329,Albany,New York,100826,99224,+1.61%,21.4sqmi,55.4km2,"4,637/sqmi","1,790/km2",4240N 7348W / 42.67N 73.80W
329,330,Hesperia,California,100744,99818,+0.93%,72.7sqmi,188.3km2,"1,373/sqmi",530/km2,3424N 11719W / 34.40N 117.32W
330,331,New Bedford,Massachusetts,100682,101079,0.39%,20.0sqmi,51.8km2,"5,054/sqmi","1,951/km2",4140N 7056W / 41.66N 70.94W
331,332,Davenport,Iowa,100486,101724,1.22%,63.8sqmi,165.2km2,"1,594/sqmi",615/km2,4134N 9036W / 41.56N 90.60W
332,333,Daly City,California,100007,104901,4.67%,7.6sqmi,19.7km2,"13,803/sqmi","5,329/km2",3741N 12228W / 37.69N 122.47W

In [223]:
raw_data = df
raw_data['City'] = raw_data['City'].apply(lambda x: re.sub(r'\[\w\]', '', x))
raw_data['State[c]'] = raw_data['State[c]'].apply(lambda x: re.sub(r'\[\w\]', '', x))
raw_data.head()

,2022 rank,City,State[c],2022 estimate,2020 census,Change,2020 land area,2020 land area.1,2020 population density,2020 population density.1,Location
0,1,New York,New York,8335897,8804190,5.32%,300.5sqmi,778.3km2,"29,298/sqmi","11,312/km2",".mw-parser-output .geo-default,.mw-parser-outp..."
1,2,Los Angeles,California,3822238,3898747,1.96%,469.5sqmi,"1,216.0km2","8,304/sqmi","3,206/km2",3401N 11825W / 34.02N 118.41W
2,3,Chicago,Illinois,2665039,2746388,2.96%,227.7sqmi,589.7km2,"12,061/sqmi","4,657/km2",4150N 8741W / 41.84N 87.68W
3,4,Houston,Texas,2302878,2304580,0.07%,640.4sqmi,"1,658.6km2","3,599/sqmi","1,390/km2",2947N 9523W / 29.79N 95.39W
4,5,Phoenix,Arizona,1644409,1608139,+2.26%,518.0sqmi,"1,341.6km2","3,105/sqmi","1,199/km2",3334N 11205W / 33.57N 112.09W

In [225]:
raw_data['2020 census'] = raw_data['2020 census'].astype(str).str.replace(',', '')
raw_data['2020 census'] = raw_data['2020 census'].str.extract(r'(\d+)').astype(int)
raw_data.head()

,2022 rank,City,State[c],2022 estimate,2020 census,Change,2020 land area,2020 land area.1,2020 population density,2020 population density.1,Location
0,1,New York,New York,8335897,8804190,5.32%,300.5sqmi,778.3km2,"29,298/sqmi","11,312/km2",".mw-parser-output .geo-default,.mw-parser-outp..."
1,2,Los Angeles,California,3822238,3898747,1.96%,469.5sqmi,"1,216.0km2","8,304/sqmi","3,206/km2",3401N 11825W / 34.02N 118.41W
2,3,Chicago,Illinois,2665039,2746388,2.96%,227.7sqmi,589.7km2,"12,061/sqmi","4,657/km2",4150N 8741W / 41.84N 87.68W
3,4,Houston,Texas,2302878,2304580,0.07%,640.4sqmi,"1,658.6km2","3,599/sqmi","1,390/km2",2947N 9523W / 29.79N 95.39W
4,5,Phoenix,Arizona,1644409,1608139,+2.26%,518.0sqmi,"1,341.6km2","3,105/sqmi","1,199/km2",3334N 11205W / 33.57N 112.09W

In [226]:
raw_data['2020 land area'] = raw_data['2020 land area'].str.replace('sq mi', '').str.replace(',', '').str.strip()
raw_data['2020 land area'] = raw_data['2020 land area'].str.extract(r'([\d.]+)').astype(float) * 43560  # 1 acre = 43,560 square feet
raw_data.head()

,2022 rank,City,State[c],2022 estimate,2020 census,Change,2020 land area,2020 land area.1,2020 population density,2020 population density.1,Location
0,1,New York,New York,8335897,8804190,5.32%,13089780.0,778.3km2,"29,298/sqmi","11,312/km2",".mw-parser-output .geo-default,.mw-parser-outp..."
1,2,Los Angeles,California,3822238,3898747,1.96%,20451420.0,"1,216.0km2","8,304/sqmi","3,206/km2",3401N 11825W / 34.02N 118.41W
2,3,Chicago,Illinois,2665039,2746388,2.96%,9918612.0,589.7km2,"12,061/sqmi","4,657/km2",4150N 8741W / 41.84N 87.68W
3,4,Houston,Texas,2302878,2304580,0.07%,27895824.0,"1,658.6km2","3,599/sqmi","1,390/km2",2947N 9523W / 29.79N 95.39W
4,5,Phoenix,Arizona,1644409,1608139,+2.26%,22564080.0,"1,341.6km2","3,105/sqmi","1,199/km2",3334N 11205W / 33.57N 112.09W

In [227]:
raw_data['pop_density'] = raw_data['2020 census'] / raw_data['2020 land area']
raw_data.head()

,2022 rank,City,State[c],2022 estimate,2020 census,Change,2020 land area,2020 land area.1,2020 population density,2020 population density.1,Location,pop_density
0,1,New York,New York,8335897,8804190,5.32%,13089780.0,778.3km2,"29,298/sqmi","11,312/km2",".mw-parser-output .geo-default,.mw-parser-outp...",0.672600
1,2,Los Angeles,California,3822238,3898747,1.96%,20451420.0,"1,216.0km2","8,304/sqmi","3,206/km2",3401N 11825W / 34.02N 118.41W,0.190635
2,3,Chicago,Illinois,2665039,2746388,2.96%,9918612.0,589.7km2,"12,061/sqmi","4,657/km2",4150N 8741W / 41.84N 87.68W,0.276892
3,4,Houston,Texas,2302878,2304580,0.07%,27895824.0,"1,658.6km2","3,599/sqmi","1,390/km2",2947N 9523W / 29.79N 95.39W,0.082614
4,5,Phoenix,Arizona,1644409,1608139,+2.26%,22564080.0,"1,341.6km2","3,105/sqmi","1,199/km2",3334N 11205W / 33.57N 112.09W,0.071270

In [228]:
coords = raw_data['Location'].str.extract(r'(\d+\.\d+)N (\d+\.\d+)W')
raw_data['latitude'] = coords[0].astype(float)
raw_data['longitude'] = -coords[1].astype(float)  # West coordinates are negative
raw_data.head()

,2022 rank,City,State[c],2022 estimate,2020 census,Change,2020 land area,2020 land area.1,2020 population density,2020 population density.1,Location,pop_density,latitude,longitude
0,1,New York,New York,8335897,8804190,5.32%,13089780.0,778.3km2,"29,298/sqmi","11,312/km2",".mw-parser-output .geo-default,.mw-parser-outp...",0.672600,40.66,-73.94
1,2,Los Angeles,California,3822238,3898747,1.96%,20451420.0,"1,216.0km2","8,304/sqmi","3,206/km2",3401N 11825W / 34.02N 118.41W,0.190635,34.02,-118.41
2,3,Chicago,Illinois,2665039,2746388,2.96%,9918612.0,589.7km2,"12,061/sqmi","4,657/km2",4150N 8741W / 41.84N 87.68W,0.276892,41.84,-87.68
3,4,Houston,Texas,2302878,2304580,0.07%,27895824.0,"1,658.6km2","3,599/sqmi","1,390/km2",2947N 9523W / 29.79N 95.39W,0.082614,29.79,-95.39
4,5,Phoenix,Arizona,1644409,1608139,+2.26%,22564080.0,"1,341.6km2","3,105/sqmi","1,199/km2",3334N 11205W / 33.57N 112.09W,0.071270,33.57,-112.09

In [231]:
cleaned_data = raw_data[['City', 'State[c]', '2020 census', '2020 land area', 'pop_density', 'longitude', 'latitude']]
cleaned_data = cleaned_data.rename(columns={'City': 'city', 'State[c]': 'state', '2020 census': 'population', '2020 land area': 'land_area', 'pop_density': 'pop_density', 'longitude': 'longitude', 'latitude': 'latitude'})
cleaned_data.to_csv("uscities.csv", index=False)